@font-face {
  font-family: rubikRegular;
  src: url(/fonts/rubikregular.woff2);
}
@font-face {
  font-family: rubikMedium;
  src: url(/fonts/rubikmedium.woff2);
}
@font-face {
  font-family: rubikSemiBold;
  src: url(/fonts/RubikSemibold.woff2);
}
@font-face {
  font-family: rubikBold;
  src: url(/fonts/RubikBold.woff2);
}

* {
  font-family: rubikRegular, Helvetica, sans-serif !important;
}
.pr-60 {
  padding: 10px 0px;
}
.mr-60 {
  margin: 60px auto;
}
.bgBlue {
  background: #f5ffe9;
}
.objFit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#navLogo {
  width: 100px;
}
#navLogo img {
  width: 100%;
  height: 100%;
}
nav {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #000;
}
#navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
}
#navLinks li {
  position: relative;
}
#navLinks a,
#navLinks > li {
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-transform: capitalize;
}
#navLinks > li:hover a {
  color: #0009;
}
#navLinks > li::after {
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: linear-gradient(90deg, #65ab0e 0%, #b3e042 100%) no-repeat left
    85%;
  position: absolute;
}
#navLinks > li:hover::after {
  width: 100%;
}
#changeLangs {
  display: flex;
  align-items: center;
  gap: 5px;
}
#changeLangs li {
  transition: all 0.3s ease;
}
#langEng {
  opacity: 0.5;
}
#langEng.brightOp {
  opacity: 1;
}
#langAze.fadeOp {
  opacity: 0.5;
}
#changeBar {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  text-align: left;
  background: #ececec;
  border-radius: 20px;
  transition: all 0.3s ease;
}
#changeBar::before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-top: 2px;
  background: linear-gradient(90deg, #65ab0e 0%, #b3e042 100%);
  transition: all 0.3s ease;
  z-index: 2;
}
#changeBar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  border-radius: 20px;
  transition: all 0.3s ease;
}
#changeBar.changes::before {
  transform: translateX(25px);
}
#changeBar.changes::after {
  width: 100%;
}
#proposalPrice {
  width: 170px;
  padding: 10px 0px;
  color: #fff;
  background: #b1e441;
  display: grid;
  place-content: center;
  transition: all 0.16s ease;
}
#proposalPrice:hover {
  background: #96c924;
}

/* xidmetler */
#serviceTitles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#serviceTitles a {
  font-size: 14px;
  color: #0008;
  display: flex;
  align-items: center;
  gap: 5px;
}
#serviceTitles a:hover svg {
  transform: translateX(5px);
}
#serviceTitles svg {
  width: 10px;
  transition: all 0.3s ease;
}
#services h2 {
  font-size: 1.7rem;
  font-weight: 600;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}
#servicesWrapper .service {
  width: 23%;
  overflow: hidden;
  border-radius: 7px;
  height: 300px;
  position: relative;
}
#servicesWrapper .service a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(118, 99, 95, 0.04) 0,
    rgba(118, 99, 95, 0.21) 27%,
    rgb(119 58 179 / 85%) 64.33%,
    rgb(58 68 179) 100%
  );
}

#servicesWrapper .service img {
  transition: all 0.3s ease;
}
#servicesWrapper .service:hover img {
  scale: 105%;
  filter: brightness(70%);
}
#servicesWrapper .service a {
  position: relative;
  height: 100%;
  display: inline-block;
}
.serviceContents {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  padding: 16px;
  width: 100%;
}
.serviceContents h4 {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 16px;
}
.likeDislikeWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.likeDislikeWrapper > div {
  cursor: pointer;
  padding: 6px 8px;
  transition: all 0.5s ease;
  border-radius: 12px;
}
.likeDislikeWrapper > div:hover {
  background: rgba(255, 255, 255, 0.3);
}
.artFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.views {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* mainAboutUs */
#mainAbout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 60px 0px;
}
#mainAboutImg {
  width: 400px;
  position: absolute;
  right: 10%;
  text-align: center;
}
#mainAboutImg img {
  width: 80%;
}
#mainAboutContents {
  width: 440px;
}
#mainAboutContents h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
#mainAboutContents h2 span {
  position: relative;
  z-index: 2;
}
#mainAboutContents h2::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 1;
  width: 90px;
  height: 90px;
  background: linear-gradient(90deg, rgb(58 68 179) 0%, rgb(119 58 179) 100%);
  opacity: 0.8;
  filter: blur(35px);
  animation: pulse 3s ease infinite;
}
@keyframes pulse {
  50% {
    transform: scale(0.5);
    filter: blur(25px);
  }
}
#mainAboutContents p {
  font-size: 18px;
  line-height: 1.5;
  color: #595959;
  margin-bottom: 30px;
}
#mainAboutContents a {
  position: relative;
  display: inline-block;
  padding: 10px 60px 10px 30px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  background-image: linear-gradient(
    90deg,
    rgb(58 68 179) 47%,
    rgb(119 58 179 / 85%) 100%
  );
  border-radius: 30px;
  overflow: hidden;
}
#mainAboutContents a span {
  position: relative;
  z-index: 3;
  display: inline-block;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#mainAboutContents a::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 30px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#mainAboutContents a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgb(58 68 179) 47%,
    rgb(58 68 179) 100%
  );
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
#mainAboutContents a:hover::before {
  transform: translate3d(45px, 0, 0) scale(0.5);
}
#mainAboutContents a:hover::after {
  opacity: 1;
}
#mainAboutContents a:hover span {
  transform: translate3d(15px, 0, 0);
}
.confetties.first {
  position: absolute;
  top: 0px;
  left: -160px;
  width: 200px;
}
.confetties.second {
  position: absolute;
  right: -40%;
  top: 0;
  width: 200px;
  height: 100%;
}
.confetties > div {
  position: absolute;
  transition: all 0.3s ease;
}
.confetties.first > div:nth-of-type(2) {
  left: 50px;
}

.confetties.first > div:nth-of-type(3) {
  right: 0px;
}
.confetties.second > div:nth-of-type(1) {
  left: -10px;
  top: -40px;
}
.confetties.second > div:nth-of-type(2) {
  left: 20px;
  top: 40px;
}
.confetties.second > div:nth-of-type(3) {
  right: 70px;
  top: 70px;
}

/* nailiyyetler */

.achievement h2 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.3;
  font-weight: bold;
}
.achievement p {
  font-size: 18px;
  color: #595959;
  line-height: 150%;
}
.achievements .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
  gap: 15px;
}

.achievements .slick-dots button {
  width: 8px;
  height: 8px;
  background: #e2e2e2;
  border-radius: 50%;
  text-indent: -99999px;
  border: none;
  padding: 0px;
}
.achievements .slick-dots button[aria-selected="true"] {
  background: #a1d537;
}
.achievements .slick-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  text-align: center;
}
.achievements .slick-slide::before {
  content: "";
  display: block;
  width: 46px;
  min-width: 46px;
  height: 148px;
  background: url("../img/corn.svg") no-repeat 50% 50% / contain;
}
.achievements .slick-slide::after {
  content: "";
  display: block;
  width: 46px;
  min-width: 46px;
  height: 148px;
  background: url("../img/corn.svg") no-repeat 50% 50% / contain;
  transform: scale(-1, 1);
}

/* metodlarımız */
.mainMetodSliders {
  min-height: 600px;
}
.mainMetodSliders .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.mainMetodSliders .swiper-slide {
  height: 500px;
  position: relative;
  padding: 55px;
  overflow: hidden;
  border-radius: 25px;
  transform: scale(0.8) !important;
  transition: all 0.3s ease;
}
.mainMetodSliders .swiper-slide-active {
  transform: scale(1) !important;
  transition: all 0.3s ease;
}
.mainMetodSliders .swiper-slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #0004;
}
.methodContents {
  width: 60%;
  position: relative;
  z-index: 1;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainMetodSliders .methodContents {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  position: relative;
}
.mainMetodSliders .swiper-slide h3 {
  font-size: 32px;
  line-height: 36px;
}
.methodBtmConts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.methodBtmConts a {
  color: #fff;
  text-decoration: underline;
  display: inline-block;
  margin-left: 5px;
}
.methodBtmConts p:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  line-height: 32px;
}
.methodBtmConts p:nth-of-type(2) {
  font-size: 16px;
  line-height: 22px;
}
.methodContents .arrowRight {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  padding: 7px;
  display: grid;
  place-content: center;
}
.methodContents .arrowRight svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* arrow */
.swiper-slideArrows {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f7fa;
  padding: 5px 10px;
  border-radius: 25px;
}
.swiper-slideArrows > div {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.swiper-slideArrows > div:hover {
  background-color: #000;
}
.swiper-slideArrows > div svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}
.swiper-slideArrows > div:hover svg {
  filter: invert(1);
}

#mainMethods h2 {
  font-size: 46px;
  letter-spacing: -0.01em;
  line-height: 48px;
  text-align: center;
  margin-bottom: 30px;
}
#mainMethods h3 {
  font-size: 32px;
  line-height: 36px;
}

/* calltoaction */
#callToAction {
  background-color: #292929;
  padding: 100px 0px;
}
#callWrapper {
  padding: 48px;
  background-color: #fff;
  border-radius: 20px;
}
#callWrapper h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 24px;
}
#callWrapper {
  display: flex;
  gap: 10px;
}
.leftSideCall p {
  font-size: 16px;
  line-height: 22px;
}
.callWrapperSide {
  flex: 1;
}
#formOthers {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
#formOthers .inputGroup {
  width: 50%;
}
.inputGroup {
  position: relative;
}
.inputGroup label {
  position: absolute;
  left: 20px;
  top: 40%;
  color: #666;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputGroup.focusOn label {
  top: 20%;
  transform: scale(0.8) translateX(-5px);
}
.inputGroup input {
  outline: none;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  appearance: none;
  border-radius: 10px;
  box-shadow: none;
  color: var(--text-main-color);
  display: block;
  font-family: inherit;
  height: 56px;
  overflow: hidden;
  padding: 23px 18px 10px;
  text-overflow: ellipsis;
  transition: border-color 0.2s ease-in-out;
  white-space: nowrap;
  width: 100%;
}
#callFormSubmit {
  background-color: #3d3bff;
  border: 1px solid transparent;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 20px;
  padding: 17px 32px;
  transition: all 0.15s ease-out;
  margin-top: 32px;
}
#callFormSubmit:hover {
  background-color: #000;
  color: #fff;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* footer */
footer {
  padding-bottom: 60px;
}

#footerOthrs {
  padding: 23px 28px;
  border: 7px solid #b1e441;
  width: 23%;
}
#footerOthrs p {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin-bottom: 36px;
}
#footerOthrs a,
#footerAddress a {
  text-decoration: underline;
}
#othrsLinkDefault {
  font-size: 14px;
  line-height: 21px;
  color: #000;
  opacity: 0.5;
  transition: all 0.3s ease;
}
#othrsLinkDefault:hover,
#othrsLinkWithLogo:hover {
  color: #3d3bff;
}
#othrsLinkWithLogo {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 30px;
  color: #424242;
  margin-top: 20px;
  transition: all 0.3s ease;
}
#othrsLinkWithLogo img {
  width: 30px;
  margin-right: 15px;
}
#footerAddress {
  width: 40%;
  margin-left: 100px;
}
#footerAddress svg {
  width: 25px;
}
#footerAddress h3,
#footerSocials h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 28px;
  padding-left: 40px;
}
#footerAddress div p {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0px;
}
#footerSocials {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footerSocials h3 {
  padding: 0px;
}
#footerSocials a {
  margin-right: 22px;
}
#footerSocials a svg {
  width: 37px;
  height: 37px;
  fill: #b1e441;
  transition: fill 0.16s ease;
}
#footerSocials a:hover svg {
  fill: #107031;
}
#footerSocialsTop {
  display: flex;
  flex-direction: column;
}
#footerSocialsBtm {
  display: flex;
  align-items: center;
}
#okmedia {
  width: 100px;
  margin-left: 30px;
}
/* mobile */
@media screen and (max-width: 768px) {
  #servicesWrapper .service {
    width: 100%;
  }
}
